{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <p class="important">
      Start by creating a project:
    </p>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Projectname</span>
        <input id="projectName" type="text" class="form-control" placeholder="Projectname" aria-label="Username" aria-describedby="basic-addon1">
        <button id="createProject" type="button" class="btn btn-primary">Create</button>
    </div>
</div>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}